body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#guestbook {
  text-align: center;
}


header {
  background-color: #333;
  padding: 10px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

h1, h2 {
  color: #fff;
}


#posts {
  margin-bottom: 20px;
}

#guestbook {
  margin-bottom: 20px;
}




