 *{
  color: #fff;
 }
 
 body {
      background: #1d2630;
    }

    #Update {
      display: none;
    }

    /* 테이블 스타일 */
    #crudTable {
      background: #fff;
      color: #000;
    }

    #crudTable th {
      background: #333;
      color: #fff;
    }

    #crudTable td,
    #crudTable th {
      padding: 8px;
      text-align: center;
    }